body { margin: 0; }
.cmclr { color: #FFFFFF; background:#0000AA; }
/*Адаптация*/
#all {
    grid-template-columns: 5% 40% 40% 15%;
    grid-template-rows: 70% 30%;
}
/*Правильное расположение говорящего*/
#Place {
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}
/*Расположение кнопки*/
#ButLoc {
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
}
#butt:hover {
    background: #FF6600;
    color: #55FF00;
}
@media screen and (orientation: portrait) {
/*Адаптация под экраны*/

/*Адаптация*/
#all {
    grid-template-columns: 2.5% 70% 0% 27.5%;
    grid-template-rows: 50% 50%;
}
/*Правильное расположение говорящего*/
#Place {
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}
/*Расположение кнопки*/
#ButLoc {
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
}

}