<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/Total/PreLoad.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/Total/Total.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/Total/Media.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/Total/NoteTerminal.css" />
	<link rel="stylesheet" type="text/css" href="/static/styles/Main/Map.css" />
  <script type="text/javascript" src="/static/scripts/Total/Total.js"></script>
	<title>Карта</title>
</head>
<body bgcolor="#777777" onload="ScrollDown();">
<div id="Load" class="pfix whmax black z10"><p id="Mark" class="fs500 prel">Загрузка...</p></div>
<audio id="a1" class="pabs z1" src="/media/Map.ogg" type="audio/ogg" autoplay controls loop hidden></audio>
<script type="text/javascript" src="/static/scripts/Main/Map/MapNotes.js"></script>
<script type="text/javascript">
  function ToLevel(){
      let url_mask = (lvl>=88)? '/end' : "{% url 'path2' pk=12345 %}".replace(/12345/, tr.toString());
      window.location.replace(url_mask);
    }
</script>
<!--Уровни игрока-->
<div id="allLevels" class="pfix grid z5">
<div class="whmax grid xp" id="sa1">
<img src="/static/images/GameMap/Exp.jpg"  height='100%' width='100%' id='example1' class="grow2 gcol2" />
</div>
<div id="sa" class="whmax grid xp fcenter">
<img src="/static/images/GameMap/Levels2.png" width="100%" height="100%" class="r1s4c1s4">
<div id="sa2" class="fs500 grow2 gcol2"></div>
</div>
<form id="Form1" method="POST" class="bord shd wauto gcol1 grow2">{% csrf_token %}
<div class="gcol2 grow2 whmax" id="F1">[i1] Логин игрока   :</div> {{ form.IDplayer }}
<div class="gcol2 grow4 whmax" id="F2">[i2] Пароль игрока  :</div> {{ form.NAMEplayer }}
<div class="gcol2 grow6 whmax" id="F3">[i3] Уровень игрока :</div> {{ form.LEVELplayer }}
<div class="gcol2 grow8 whmax" id="F4">[i4] Уровень карты  :</div> {{ form.Level }}
<div class="gcol2 grow10 whmax" id="F5">[i5] До след. ур.   :</div> {{ form.NEXTexp }}
<div class="c2s4 grow12 whmax" id="F6">[i6]Код</div> {{ form.Code }}
</form>
<!--Специальное-->
<div id="SpecialValues" class="whmax fs100 bord shd gcol1 grow3">
<div class="whmax gcol2 grow4" id="Login">Логин:</div><div id='w2' class="gcol4 grow4">{{ player }}</div>
<div class="whmax gcol2 grow6" id="Login">Пароль:</div><div id='pass' class="gcol4 grow6">{{ player1 }}</div>
<div class="whmax gcol2 grow8" id="CustomLV">Уровень игрока:</div><div id="LvPl" class="gcol4 grow8">{{ player2 }}</div>
<div class="whmax gcol2 grow10" id="CustomLMap">Уровень карты:</div><div id="ways" class="gcol4 grow10">{{ player3 }}</div>
<div class="whmax gcol2 grow12" id="CustomNEXT">До следующего:</div><div id="ways1" class="gcol4 grow12">{{ player4 }}</div>
<div class="whmax gcol2 grow14" id="CustomCode">Код игрока:</div><div id="code1" class="gcol4 grow14">{{ player5 }}</div>
</div>
</div>
<!--Карта-->
<div id='mainmap' class="grid main pabs z1">
{% load static %}
<img class="r1s4c1s4 z1" src="/static/images/GameMap/TheMAP6.png" width="100%" height="100%" />
<img id="road" class="whmax gcol2 grow3 z0" src="/static/images/GameMap/KindRoad2.jpg" width="100%" height="100%" />
<img id="road2" class="whmax gcol2 grow2 z0" src="/static/images/GameMap/KindRoad3.jpg" width="100%" height="100%" />
<img id="road3" class="whmax gcol2 grow1 z0" src="/static/images/GameMap/KindRoad4.jpg" width="100%" height="100%" />
<!--Значок миссии и кнопка "Начать"-->
<div id="lvp" class="grid levels gcol2">
<div id="p0" class="whmax grid z2">
<img class="whmax gcol2 grow2" id="p_0" src="/static/images/GameMap/Prog3.png" width="100%" height="100%" />
<input type="button" data-modalstate="open" value="Начать" onclick="ToLevel();" id="ZAPUSK" class="wauto fs200 btns grow3 gcol2 z2 pnt" />
</div>
</div>

</div>
<!--Новые фичи: записи и терминал-->
<div id='Features' class="pfix grid z5">
<div id="Notes" class="wauto fs200 pnt gcol2 grow1 btns shd" onclick="FGrid('NoteBook');">
<img src="/static/images/GameMap/Notes3.png" height='100%' width='100%' />
</div>
<div id="Terminal" class="wauto fs200 pnt gcol4 grow1 btns shd" onclick="FGrid('HandTerminal');">
<img id="Termimg" src="/static/images/GameMap/Terminal2.png" height='100%' width='100%' />
</div>
</div>
<!--Записи-->
<div id='NoteBook' class="whmx2 pfix z6">
<img id="NoteBookImg" class="grow2 gcol2 z6" src="/static/images/GameMap/NoteBook1.png" height='100%' width='100%' />
<div id="NoteBookWriting" class="whmax grid z6 grow2 gcol2">
<div id="NoteCloseButton" class="z7 close fs150" onclick="FNone('NoteBook');"><center>[==]<br>\//</center></div>
<!--Страницы -/- -->
<p class="sheader gcol2 z7 fs150 grow1" id="SheetHeader"></p>
<!--Запись 1-->
<p class="nheader gcol2 z7 fs125 grow2" id="NoteHeader1"></p>

<p class="notes gcol2 z7 fs100 grow3" id="Note1_1"></p>
<p class="notes gcol2 z7 fs100 grow4" id="Note1_2"></p>
<p class="notes gcol2 z7 fs100 grow5" id="Note1_3"></p>
<!--Запись 2-->
<p class="nheader gcol2 z7 fs125 grow6" id="NoteHeader2"></p>

<p class="notes gcol2 z7 fs100 grow7" id="Note2_1"></p>
<p class="notes gcol2 z7 fs100 grow8" id="Note2_2"></p>
<p class="notes gcol2 z7 fs100 grow9" id="Note2_3"></p>
<!--Запись 3-->
<p class="nheader gcol2 z7 fs125 grow10" id="NoteHeader3"></p>

<p class="notes gcol2 z7 fs100 grow11" id="Note3_1"></p>
<p class="notes gcol2 z7 fs100 grow12" id="Note3_2"></p>
<p class="notes gcol2 z7 fs100 grow13" id="Note3_3"></p>
<!--Здесь прописываются на каком уровне стали открыты новые записи-->
<p class="notes gcol3 z7 fs100 grow2" id="NoteUnlock1"></p>
<p class="notes gcol3 z7 fs100 grow6" id="NoteUnlock2"></p>
<p class="notes gcol3 z7 fs100 grow10" id="NoteUnlock3"></p>
<div class="pswtch gcol3 whmax z7 fs100 grow12" id='PrevPage' onclick="ToPrevPage();">◄Пред.</div>
<div class="pswtch gcol3 whmax z7 fs100 grow13" id='NextPage' onclick="ToNextPage();">След.►</div>
</div>
</div>
<!--Походный терминал-->
<div id="HandTerminal" class="whmx2 pfix z6">
<img id="HandTerminalImg" class="grow2 gcol2 z6" src="/static/images/GameMap/TerminalCode1.png" height='100%' width='100%' />
<div id="HandTerminalWriting" class="whmax grid grow2 gcol2 z7">
<div id="HandCloseButton" class="close fs150" onclick="FNone('HandTerminal');"><center>[X]</center></div>
<H1 class="fs200 segoe cwhite grow2 gcol2 z6" id="HandTerminalName"><center>Походный терминал</center></H1>
<p class="fs125 segoe cwhite grow3 gcol2 z6" id="HandTerminalText1">Позволяет сохранить записанные здесь части кода, затем использовать его во время прохождения уровней.</p>
<p class="fs125 segoe cwhite grow4 gcol2 z6" id="CodeLength">Ограничение: 0/500 символов</p>
<textarea class="fs125 pad15 wauto bord shd gcol2 grow6" id="Code" onkeydown="CodeLevel();" onkeyup="CodeLevel();" maxlength="500"></textarea>
<input class="fs100 btns pnt gcol2 grow7" value="Сохранить" onclick="SaveCode1()" type="button" id="SaveCode">
</div>
<script type="text/javascript" src="/static/scripts/Main/Map/Map.js"></script>
<div class="whmax pfix z5" id="TEMHO"></div>
<script type="text/javascript" src="/static/scripts/Total/PreLoad.js"></script>
</body>
</html>