<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<title>Way into programming</title>
<link rel="stylesheet" type="text/css" href="/static/styles/Total/Total.css">
<link rel="stylesheet" type="text/css" href="/static/styles/Total/Media.css">
<link rel="stylesheet" type="text/css" href="/static/styles/Main/Begin.css">
<script type="text/javascript" src="/static/scripts/Main/Menu/BeginAnimate.js"></script>
</head>
<body bgcolor="#000000">
<audio id="a1" class="pabs z1" src="/media/Main1.ogg" type="audio/ogg" autoplay loop controls hidden ></audio>
<div id="all" class="pabs whmx2 grid">
<center id="GameTitle" class="fs200 grow1"><h1>Путь в программирование</h1></center>

<form id="f2" method="POST" class="r2s5 c2s5">
	<div id="dialogoverlay"></div>
	<div id="dialogbox" class="whmax z3 grid">
		<a id="reg" class="grow1 fs200"><h2>Авторизация</h2></a>
		<div id="GrayBox">
			{% csrf_token %}
			<div id="Login" class="fs125 grow3">Логин</div>{{ form.IDplayer }}
			<div id="Pass" class="fs125 grow7">Пароль</div>{{ form.NAMEplayer }}
  			<input type="button" value="ОК" id="OK" class="btns fs150 whmax pnt" onclick="sub();" />
  			<input type="button" value="Регистрация" id="OK1" class="btns fs150 whmax pnt grow1" onclick="sub1();" />
		</div>
	</div>
	<div id="OtherFields" class="fs100">
	<div id="F3">[i3] Уровень игрока :</div> {{ form.LEVELplayer }}
  	<div id="F4">[i4] Уровень карты  :</div> {{ form.Level }}
  	<div id="F5">[i5] До след. ур.   :</div> {{ form.NEXTexp }}
  	<div id="F6">[i6] Код у игрока   :</div> {{ form.Code }}
  	<div id="F7">[i7] Особое значение:</div><div id="pop"> {{ pop }}</div>
  	</div>
</form>

<script type="text/javascript"> function ach() { let tr=document.getElementById("i1").value; let url_mask = ("{% url 'path7' pk='12345' %}").replace(/12345/, tr.toString());
window.location.replace(url_mask); }
</script>
<div id="text" class="whmax fs100 bord shd grid grow3 gcol3">
	<input type="button" onclick="Click();" onfocus="ReSelect('New');" value="Новая игра" id="New" class="pnt grow2 gcol1 fs150 Bbtn" autofocus></input>
	<div id="hiddenFields" class="bord shd">
	<div id="d1">{{ player }}</div>
	<div id="d2">{{ player1 }}</div>
	<div id="d3">{{ player2 }}</div>
	<div id="d4">{{ player3 }}</div>
	<div id="d5">{{ player4 }}</div>
	</div>
	<input type="button" value="Продолжить" onclick="sub();" onfocus="ReSelect('Con');" id="Con" class="pnt grow4 gcol1 fs150" disabled />
	<input type="button" value="Достижения" onclick="ach();" onfocus="ReSelect('Ach');" id="Ach" class="pnt grow6 gcol1 fs150" />
</div>
<script type="text/javascript" src="/static/scripts/Main/Menu/BeginFunc.js"></script>
</body>
</html>