<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<link rel="stylesheet" type="text/css" href="/static/styles/Total/Total.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/Total/Media.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/Main/End.css">
<title>Конец</title>
<script type="text/javascript"> function Begin() { window.location.replace('/'); } </script>
</head>
<body>
<div id='All' class='pabs grid whmx2'>
<div id='TheEnd' class="grid grow2 gcol2 pad20 flds">
	<center class="c1s4 grow1 wauto"><h1 class="fs200">Поздравляем!</h1><h3 class="fs150"><br>Вы успешно прошли игру!<br>Будем ждать ваших дальнейших успехов.<br>Помните: ваш путь в программирование только начинается.</h3></center>
	<input class="btns pnt wauto grow2 gcol2 wauto fs200" type="button" id="Fin" onclick="Begin();" value="Закончить">
</div>
</div>
</body>
</html>