<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<title>Пример диалога</title>
<script type="text/javascript">
	function Begin() {
		window.location.replace('/');
	}
</script>
</head>
<body bgcolor="#000000">
<!--Сюда можно поместить фон какой-нибудь праздничный-->
<img style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;" width="100%" height="100%" src="/static/images/Winner.jpg">
<div style="position: absolute; top: 20%; left:31%; border: 3px solid #CCCCCC; color: #FFFFFF; box-shadow: 0 0 30px rgba(0,0,0,0.5); background:#333333; font-family: Segoe UI; font-size:14pt; padding: 25px; padding-top: 30px; width:35%; height: 50%"><center><h1>Поздравляем!</h1><h2><br>Вы успешно прошли игру!<br>Будем ждать ваших дальнейших успехов.<br>Помните: ваш путь в программирование только начинается.</h2><input type="button" onclick="Begin();" value="Закончить" style="position: absolute; cursor: pointer; top: 70%; left:35%; font-family: Segoe UI; font-size:26pt; -moz-border-radius:  5px; -webkit-border-radius:  5px; border: 3px solid #CCCCCC; color:#FFFFFF; border-radius:  5px; width: 30%; height: 15%; background: #BBBB00"></center>
</div>
	<!--<input type="button" value="Закончить" style="position: absolute; cursor: pointer; top: 60%; left:50%; font-family: Segoe UI; font-size:26pt; -moz-border-radius:  5px; -webkit-border-radius:  5px; border: 3px solid #CCCCCC; color:#FFFFFF; border-radius:  5px; width: 12.5%; height: 7.5%; background: #BBBB00">-->
</body>
</html>